<!--The content below is only a placeholder and can be replaced.-->


<div class="teste d-none d-md-block">
 
<a href="#bio"> <img src="/assets/bio.png"> </a>

</div>

<div class="teste2 d-none d-md-block">
  
    <a href="#interesses"> <img src="/assets/interesses.png"> </a>
  
  </div>

  <div class="teste3 d-none d-md-block">
    
      <a href="#profissional"> <img src="/assets/profissional.png"> </a>    
    </div>

      <div class="teste4 d-none d-md-block">
  
          <a href="#academico"> <img src="/assets/academico.png"> </a>
            
            </div>


<section id="topo">
  <br>
<div style="text-align:center">
  <div >
    <img width="40%" src="/assets/fundo-perfil.png">   
  </div>
<br>
  <h1 style="color: #5a5a5a">
    Marcos Muniz
  </h1>
</div>
</section>

<section id="menu" class="bg-amarelo">

    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            
          <fa-icon [icon]="faUser"></fa-icon> Marcos Vinícius Muniz <br>
          <fa-icon [icon]="faBaby"></fa-icon> 13/09/1997 <br>
          <fa-icon [icon]="faMale"></fa-icon> Masculino <br>
              
        </div>
        <div class="col-sm">
            <fa-icon [icon]="faEnvelope"></fa-icon> marcosmuniz101@gmail.com<br>
            <fa-icon [icon]="faMaleta"></fa-icon> Tecnologo da informação<br>
            <fa-icon [icon]="faCoracao"></fa-icon> Solteiro <br>
        </div>
        <div class="col-sm">
            <fa-icon [icon]="faMapa"></fa-icon> Brasil > Tocantins > Palmas<br>
            <fa-icon [icon]="faPhone"></fa-icon> (63) 99280-8960<br>
            <fa-icon [icon]="faCode"></fa-icon> <a  href="https://github.com/marcosmuniz101"> <font color="black"> marcosmuniz101 </font></a><br>
        </div>
      </div>
    </div>
    
<br>
</section>

<section id="bio">
<h1 style="text-align: center; color: #5a5a5a" >Biografia</h1>

<p style="text-align: center">
  Nascido em Palmas, capital com cara de interior do mais novo estado brasileiro, filho de Raimunda Muniz e Idenildes Izidorio e o segundo de
  três filhos. Inserido em três principais circulos sociais, sendo eles a Faculdade, o Trabalho e a Igreja, sendo uma daquelas pessoas boa em muitas coisas, mas não chega a ser especialista em nada.
    Para especificar melhor cada circulo vamos por partes:
</p>
<p style="text-align: center" class="recuo">
  Primeiramente, Igreja, Cristão meia-boca descreve bem esse circulo, mas porém, esforçado e bem melhor que ontem. Adventista do Sétimo Dia (sim, aquela que guarda o sabádo), não se considera um religioso cego, logo que questiona um fundamento para aquilo que houve e não vê a biblia separada da historia e da arquelogia. Se fosse para resumir a caminhada cristã de Marcos Muniz, certamente se chegaria a um método  hipotético-dedutivo de Tentativa e Erro.

</p>
<p style="text-align: center" class="recuo">
  Emprego. Então, todo mundo precisa de dinheiro e mesmo sendo muito lindo, Marcos ainda não encontrou uma Dona Lurdes para o sustentalo e dar um HB20s, por está causa, trabalha em uma escola particular de Palmas como TI. Não o pergunte o que ele faz lá, porque ele faz tudo, mas tudo no velho e bom instinto do muleque malino. Servidor parou? Reinicia! Impressora parou? reinicia! A internet caiu? Reinicia! O professor disse que o comutador estragou? Vai lá e liga o cabo de força na tomada! 
</p>
<p style="text-align: center" class="recuo">

  Por último, mas não menos estressante, Faculdade. O lema não poderia ser outro se não "Continue a nadar, continue a nadar...", pois no sétimo periodo de Sistemas de Informação a gente aprende a escolher entre dormir na aula ou ter gastrite por tomar café com estómago vazio. Mas sobre tudo, apaixonado de uma forma melancólica pelo curso, menos pelas matérias que envolvem matemática que sempre têm dobradinha.

  
</p>

</section>

<section id="interesses" class="interesses">

<h1 style="text-align: center; color: #ffffff">Interesses</h1>

<br>

<div class="container">
    <div class="row">

      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="/assets/cards/car1_img2.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Fotografia</h5>
                <p class="card-text">Porque minha memoria é ruim, mas meu olhar é poetico. </p>
                
              </div>
            </div>
      </div>
      

      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="/assets/cards/img2.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Tecnologia</h5>
                <p class="card-text">Eu queria ter tanto dinheiro quanto curiosidade.</p>
                
              </div>
            </div>
      </div>
   

      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img src="/assets/cards/img3.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Pessoas</h5>
                <p class="card-text">Namorada, Família, Amigos... relação de amor e ódio.</p>
                
              </div>
            </div>
      </div>
      

     





    </div>


</div>

</section>

<section id="profissional">
  <br>
<h1 style="text-align: center; color: #5a5a5a">Profissional</h1>
<br>
<div class="accordions"> 
    
    <div class="accordion-item">
        <input type="radio" name="accordion" id="accordion-2" />
        <label for= "accordion-2"><h3 style="color: #5a5a5a">Tecmidia Comunicação Visual</h3></label>
        <div class="accordion-content">
        <h5 style="text-indent:4em">Auxiliar de Produção <h6 style="color: #5a5a5a">Abril de 2017 - Dezembro de 2017</h6></h5>
        <h5 style="text-indent:4em">Gerente de Produção <h6 style="color: #5a5a5a">Janeiro de 2018 - Novembro de 2018</h6></h5>
        
        </div>
    </div> 
    <div class="accordion-item">
        <input type="radio" name="accordion" id="accordion-3" />
        <label for= "accordion-3"><h3 style="color: #5a5a5a">Escola Adventista de Palmas</h3></label>
        <div class="accordion-content">
        <h5 style="text-indent:4em">Tecnologo da Informação <h6 style="color: #5a5a5a">Novembro de 2018 - Até as profecias do Fabgod se cumprirem...</h6></h5>
       
        
        </div>
    </div> 
</div>	
<br>
</section>

<section id="academico" class="bg-academico">
    <h1 style="text-align: center; color: #ffffff">Académico</h1>
    
    <div class="accordions"> 
    
        <div class="accordion-item">
            <input type="radio" name="accordion" id="accordion-4" />
            <label for= "accordion-4"><h3 style="color: #ffffff">Assistente Financeiro</h3></label>
            <div class="accordion-content">
            <h5 style="text-indent:4em">SENAI<h6 style="color: #ffffff">2016/2 - 2016/2</h6></h5>
            
            </div>
        </div> 
        <div class="accordion-item">
            <input type="radio" name="accordion" id="accordion-5" />
            <label for= "accordion-5"><h3 style="color: #ffffff">Sistemas de Informações</h3></label>
            <div class="accordion-content">
            <h5 style="text-indent:4em">Centro Unniversitário Luterano de Palmas - CEULP/ULBRA<h6 style="color: #ffffff">2016/1 - Ao infinito e além...</h6></h5>
            <p style="text-indent:5em"><button type="button" class="btn btn-primary" (click)="openModal(template)">Matérias</button>
            </p>
            </div>
        </div> 
    </div>	
    <br><br><br><br>
  
  

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Materias</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
       <app-materias></app-materias>
        

      </div>
    </ng-template>
      

</section>




