<div class="accordions"> 
    
    <div class="accordion-item">
        <input type="radio" name="accordion" id="accordion-10" />
        <label for= "accordion-10">1º Periodo:</label>
        <div class="accordion-content">
       <table class="table">
         <tr>
           <td>Introdução à Computação</td>
          <td>Aprovado</td>
        </tr>
        <tr>
            <td>Algoritmos e Programação I</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Comunicação e Expressão</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Fundamentos de Matemática</td>
           <td>Reprovado</td>
         </tr>

       </table>
        
        </div>

        <div class="accordion-item">
            <input type="radio" name="accordion" id="accordion-11" />
            <label for= "accordion-11">2º Periodo:</label>
            <div class="accordion-content">
           <table class="table">
             <tr>
               <td>Introdução à Computação</td>
              <td>Aprovado</td>
            </tr>
            <tr>
                <td>Algoritmos e Programação I</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Comunicação e Expressão</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Fundamentos de Matemática</td>
               <td>Reprovado</td>
             </tr>
    
           </table>
            
            </div>


    </div> 
    

    </div>