<div class="accordions"> 
    
    <div class="accordion-item">
        <input type="radio" name="accordion" id="accordion-10" />
        <label for= "accordion-10">1º Periodo:</label>
        <div class="accordion-content">
       <table class="table">
         <tr>
           <td>Introdução à Computação</td>
          <td>Aprovado</td>
        </tr>
        <tr>
            <td>Algoritmos e Programação I</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Comunicação e Expressão</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Fundamentos de Matemática</td>
           <td>Reprovado</td>
         </tr>

       </table>
        
        </div>
      </div>

        <div class="accordion-item">
            <input type="radio" name="accordion" id="accordion-11" />
            <label for= "accordion-11">2º Periodo:</label>
            <div class="accordion-content">
           <table class="table">
             <tr>
               <td>Lógica de Predicados</td>
              <td>Aprovado</td>
            </tr>
            <tr>
                <td>Algoritmos e Programação II</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Arquitetura e Organização de Computadores I</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Fundamentos de Matemática</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Cultura Religiosa</td>
               <td>Aprovado</td>
             </tr>
    
           </table>
            
            </div>


    </div> 




    <div class="accordion-item">
        <input type="radio" name="accordion" id="accordion-12" />
        <label for= "accordion-12">3º Periodo:</label>
        <div class="accordion-content">
       <table class="table">
         <tr>
           <td>Fundamentos de Sistemas de Informação</td>
          <td>Aprovado</td>
        </tr>
        <tr>
            <td>Linguagem de Programação OO I</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Sociedade e Contemporaneidade</td>
           <td>Aprovado</td>
         </tr>
         <tr>
            <td>Cálculo I</td>
           <td>Reprovado</td>
         </tr>

       </table>
        
        </div>
      </div>
    

      <div class="accordion-item">
          <input type="radio" name="accordion" id="accordion-13" />
          <label for= "accordion-13">4º Periodo:</label>
          <div class="accordion-content">
         <table class="table">
           <tr>
             <td>Banco de Dados</td>
            <td>Aprovado</td>
          </tr>
          <tr>
              <td>Cálculo I</td>
             <td>Aprovado</td>
           </tr>
           <tr>
              <td>Engenharia de Software I</td>
             <td>Aprovado</td>
           </tr>
           <tr>
              <td>Instrumentalização Cientifica</td>
             <td>Aprovado</td>
           </tr>
  
         </table>
          
          </div>
        </div>

        <div class="accordion-item">
            <input type="radio" name="accordion" id="accordion-14" />
            <label for= "accordion-14">5º Periodo:</label>
            <div class="accordion-content">
           <table class="table">
             <tr>
               <td>Banco de Dados II</td>
              <td>Aprovado</td>
            </tr>
            <tr>
                <td>Estruturas de Dados I</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Linguagem de Programação Comercial I</td>
               <td>Aprovado</td>
             </tr>
             <tr>
                <td>Estatistica Aplicada</td>
               <td>Reprovado</td>
             </tr>
    
           </table>
            
            </div>
          </div>

          <div class="accordion-item">
              <input type="radio" name="accordion" id="accordion-15" />
              <label for= "accordion-15">6º Periodo:</label>
              <div class="accordion-content">
             <table class="table">
               <tr>
                 <td>Gerencia de Projetos</td>
                <td>Aprovado</td>
              </tr>
              <tr>
                  <td>Paradigmas de Linguagem de Programação</td>
                 <td>Aprovado</td>
               </tr>
               <tr>
                  <td>Sistemas de Informação I</td>
                 <td>Aprovado</td>
               </tr>
               <tr>
                  <td>Linguagem de Programação para WEB</td>
                 <td>Reprovado</td>
               </tr>
      
             </table>
              
              </div>
            </div>

            <div class="accordion-item">
                <input type="radio" name="accordion" id="accordion-16" />
                <label for= "accordion-16">7º Periodo:</label>
                <div class="accordion-content">
               <table class="table">
                 <tr>
                   <td>Análise Organizacional</td>
                  <td>Cursando</td>
                </tr>
                <tr>
                    <td>Estrutura de Dados II</td>
                   <td>Cursando</td>
                 </tr>
                 <tr>
                    <td>Linguagem de Programação para WEB</td>
                   <td>Cursando</td>
                 </tr>
                 <tr>
                    <td>Redes de Computadores I</td>
                   <td>Cursando</td>
                 </tr>
        
               </table>
                
                </div>
              </div>

</div>